In [1]:
import pandas as pd

In [2]:
csv_path = "EOD_20181027_v1.csv"
df = pd.read_csv(csv_path)

In [4]:
csv_path2 = "SPY_All_Holdings.csv"
spy_df = pd.read_csv(csv_path2)

In [8]:
df.columns = ['adj_close','stock','date','records']
stock_df = df[['date','adj_close','stock']]

In [9]:
stock_df.head(100)

          date  adj_close stock
0   10/23/2014     65.920  ADBE
1   10/24/2014     67.010  ADBE
2   10/27/2014     67.030  ADBE
3   10/28/2014     68.370  ADBE
4   10/29/2014     67.930  ADBE
5   10/30/2014     68.570  ADBE
6   10/31/2014     70.120  ADBE
7    11/3/2014     69.910  ADBE
8    11/4/2014     71.070  ADBE
9    11/5/2014     71.370  ADBE
10   11/6/2014     72.100  ADBE
11   11/7/2014     71.600  ADBE
12  11/10/2014     71.700  ADBE
13  11/11/2014     71.700  ADBE
14  11/12/2014     71.410  ADBE
15  11/13/2014     71.720  ADBE
16  11/14/2014     71.420  ADBE
17  11/17/2014     69.970  ADBE
18  11/18/2014     70.830  ADBE
19  11/19/2014     70.820  ADBE
20  11/20/2014     70.440  ADBE
21  11/21/2014     71.320  ADBE
22  11/24/2014     71.225  ADBE
23  11/25/2014     72.000  ADBE
24  11/26/2014     72.980  ADBE
25  11/28/2014     73.680  ADBE
26   12/1/2014     73.750  ADBE
27   12/2/2014     73.470  ADBE
28   12/3/2014     73.180  ADBE
29   12/4/2014     73.030  ADBE
..         ...        ...   ...
70    2/4/2015     72.280  ADBE
71    2/5/2015     73.100  ADBE
72    2/6/2015     72.540  ADBE
73    2/9/2015     72.330  ADBE
74   2/10/2015     72.760  ADBE
75   2/11/2015     73.010  ADBE
76   2/12/2015     74.590  ADBE
77   2/13/2015     76.510  ADBE
78   2/17/2015     77.130  ADBE
79   2/18/2015     77.730  ADBE
80   2/19/2015     77.730  ADBE
81   2/20/2015     78.550  ADBE
82   2/23/2015     78.100  ADBE
83   2/24/2015     77.680  ADBE
84   2/25/2015     78.070  ADBE
85   2/26/2015     78.960  ADBE
86   2/27/2015     79.100  ADBE
87    3/2/2015     79.790  ADBE
88    3/3/2015     78.990  ADBE
89    3/4/2015     77.630  ADBE
90    3/5/2015     78.620  ADBE
91    3/6/2015     77.550  ADBE
92    3/9/2015     77.930  ADBE
93   3/10/2015     76.005  ADBE
94   3/11/2015     76.010  ADBE
95   3/12/2015     77.400  ADBE
96   3/13/2015     77.620  ADBE
97   3/16/2015     78.330  ADBE
98   3/17/2015     79.660  ADBE
99   3/18/2015     76.890  ADBE

[100 rows x 3 columns]

In [10]:
spy_df.head()

,Name,Identifier,Weight,Sector,Shares Held
0,Apple Inc.,AAPL,4.413999,Information Technology,51122460
1,Microsoft Corporation,MSFT,3.636908,Information Technology,85489150
2,Amazon.com Inc.,AMZN,3.198155,Consumer Discretionary,4568331
3,Berkshire Hathaway Inc. Class B,BRK.B,1.724556,Financials,21735832
4,Johnson & Johnson,JNJ,1.626871,Health Care,29909192

In [11]:
spy_list = spy_df['Identifier'].tolist()

In [12]:
spy_list

['AAPL',
 'MSFT',
 'AMZN',
 'BRK.B',
 'JNJ',
 'FB',
 'JPM',
 'GOOG',
 'XOM',
 'GOOGL',
 'PFE',
 'UNH',
 'V',
 'BAC',
 'VZ',
 'WFC',
 'PG',
 'T',
 'CVX',
 'CSCO',
 'HD',
 'INTC',
 'BA',
 'MA',
 'MRK',
 'KO',
 'DIS',
 'CMCSA',
 'C',
 'PEP',
 'WMT',
 'PM',
 'NFLX',
 'MCD',
 'ORCL',
 'NVDA',
 'MDT',
 'ADBE',
 'ABBV',
 'DWDP',
 'AMGN',
 'MO',
 'ABT',
 'IBM',
 'HON',
 'MMM',
 'CRM',
 'UNP',
 'LLY',
 'GE',
 'PYPL',
 'ACN',
 'COST',
 'AVGO',
 'NKE',
 'UTX',
 'TMO',
 'TXN',
 'GILD',
 'QCOM',
 'BKNG',
 'NEE',
 'BMY',
 'SBUX',
 'LOW',
 'COP',
 'USB',
 'LMT',
 'GS',
 'UPS',
 'SLB',
 'AXP',
 'CVS',
 'ANTM',
 'CAT',
 'AMT',
 'TJX',
 'WBA',
 'AET',
 'EOG',
 'BDX',
 'ADP',
 'DHR',
 'CME',
 'MDLZ',
 'BIIB',
 'DUK',
 'MS',
 'AGN',
 'CB',
 'CHTR',
 'ISRG',
 'SPG',
 'PNC',
 'CL',
 'CSX',
 'INTU',
 'ATVI',
 'ESRX',
 'OXY',
 'FDX',
 'SCHW',
 'CI',
 'SYK',
 'CELG',
 'RTN',
 'BSX',
 'BLK',
 'D',
 'GD',
 'FOXA',
 'MPC',
 'PX',
 'NOC',
 'NSC',
 'SO',
 'SPGI',
 'TGT',
 'CCI',
 'DE',
 'HUM',
 'ZTS',
 'ILMN',
 'ICE',
 'BK',
 'MU',
 'VRTX',
 'COF',
 'EXC',
 'PSX',
 'EMR',
 'GM',
 'CTSH',
 'MMC',
 'PLD',
 'MET',
 'PGR',
 'PRU',
 'ECL',
 'ITW',
 'AIG',
 'HPQ',
 'VLO',
 'BBT',
 'KMB',
 'AON',
 'ROST',
 'AEP',
 'STZ',
 'F',
 'KHC',
 'SYY',
 'HCA',
 'FIS',
 'WM',
 'DAL',
 'BAX',
 'APD',
 'TRV',
 'EQIX',
 'AFL',
 'ALL',
 'FISV',
 'MAR',
 'AMAT',
 'SRE',
 'ETN',
 'KMI',
 'HAL',
 'APC',
 'WMB',
 'SHW',
 'EA',
 'PSA',
 'EW',
 'JCI',
 'DG',
 'ADI',
 'LYB',
 'ADSK',
 'EL',
 'PEG',
 'STI',
 'YUM',
 'CXO',
 'ROP',
 'ADM',
 'CNC',
 'ORLY',
 'OKE',
 'TEL',
 'GIS',
 'EBAY',
 'APH',
 'PXD',
 'REGN',
 'ALXN',
 'VFC',
 'STT',
 'MCO',
 'LUV',
 'GLW',
 'PPG',
 'DFS',
 'XEL',
 'ZBH',
 'MCK',
 'WELL',
 'PCG',
 'AVB',
 'EQR',
 'DLR',
 'ED',
 'IR',
 'FTV',
 'TROW',
 'TWTR',
 'MTB',
 'KR',
 'CCL.U',
 'EIX',
 'LRCX',
 'HPE',
 'WEC',
 'FOX',
 'WY',
 'DXC',
 'RHT',
 'PPL',
 'COL',
 'MNST',
 'DTE',
 'PAYX',
 'CERN',
 'VTR',
 'HLT',
 'ES',
 'XLNX',
 'CTL',
 'NTRS',
 'A',
 'NTAP',
 'ROK',
 'APTV',
 'SYF',
 'DLTR',
 'AZO',
 'MSI',
 'UAL',
 'CLX',
 'PH',
 'PCAR',
 'IQV',
 'CMI',
 'HRS',
 'VRSK',
 'CBS',
 'FE',
 'WLTW',
 'RCL',
 'NUE',
 'TSN',
 'INFO',
 'IDXX',
 'AMP',
 'GPN',
 'IP',
 'KEY',
 'BXP',
 'SBAC',
 'K',
 'RF',
 'SWK',
 'O',
 'FLT',
 'FITB',
 'CFG',
 'CAG',
 'ALGN',
 'BBY',
 'MKC',
 'DVN',
 'ESS',
 'AMD',
 'FCX',
 'OMC',
 'HIG',
 'WDC',
 'TDG',
 'LLL',
 'MRO',
 'LH',
 'AWK',
 'AEE',
 'MYL',
 'TSS',
 'CAH',
 'NEM',
 'ULTA',
 'EVRG',
 'AME',
 'ETR',
 'ABMD',
 'BLL',
 'CTAS',
 'RSG',
 'SWKS',
 'HES',
 'HBAN',
 'WCG',
 'GPC',
 'MCHP',
 'VRSN',
 'APA',
 'WAT',
 'CHD',
 'EXPE',
 'HSY',
 'CMS',
 'FAST',
 'NOV',
 'ABC',
 'RMD',
 'SIVB',
 'CMA',
 'HST',
 'MTD',
 'TTWO',
 'IFF',
 'KLAC',
 'BR',
 'CA',
 'MSCI',
 'AAL',
 'TXT',
 'AJG',
 'SNPS',
 'ARE',
 'CNP',
 'PFG',
 'CDNS',
 'CTXS',
 'IT',
 'DRI',
 'MGM',
 'LNC',
 'NBL',
 'L',
 'HSIC',
 'HCP',
 'KMX',
 'ETFC',
 'CBRE',
 'DGX',
 'KSS',
 'GWW',
 'ANSS',
 'COO',
 'DHI',
 'CHRW',
 'DOV',
 'SJM',
 'AAP',
 'XYL',
 'VMC',
 'ANET',
 'CBOE',
 'TPR',
 'EFX',
 'SYMC',
 'LEN',
 'VNO',
 'EXPD',
 'TIF',
 'FTI',
 'BHGE',
 'FTNT',
 'MAA',
 'INCY',
 'EMN',
 'HRL',
 'STX',
 'EXR',
 'KSU',
 'HAS',
 'REG',
 'NRG',
 'CINF',
 'TSCO',
 'AKAM',
 'HOLX',
 'UDR',
 'UHS',
 'WRK',
 'ALB',
 'VAR',
 'CMG',
 'MOS',
 'TAP',
 'FFIV',
 'VIAB',
 'CF',
 'HFC',
 'DISCK',
 'FMC',
 'WYNN',
 'MLM',
 'M',
 'DRE',
 'LNT',
 'JNPR',
 'RJF',
 'HII',
 'CPRT',
 'AES',
 'COG',
 'NDAQ',
 'ADS',
 'MHK',
 'MAS',
 'NI',
 'PNW',
 'ZION',
 'EQT',
 'NCLH',
 'JBHT',
 'PVH',
 'PKI',
 'URI',
 'IRM',
 'IPG',
 'PRGO',
 'FRT',
 'BEN',
 'JEC',
 'NLSN',
 'QRVO',
 'IVZ',
 'TMK',
 'ARNC',
 'KORS',
 'SNA',
 'LKQ',
 'PKG',
 'RE',
 'SLG',
 'DVA',
 'WU',
 'XRAY',
 'BWA',
 'UNM',
 'XEC',
 'BF.B',
 'ALK',
 'ALLE',
 'AVY',
 'RHI',
 'FLIR',
 'GRMN',
 'CPB',
 'JWN',
 'RL',
 'NWL',
 'WHR',
 'LB',
 'FBHS',
 'DISH',
 'HP',
 'AIV',
 'KIM',
 'AMG',
 'AOS',
 'HOG',
 'PNR',
 'NKTR',
 'HBI',
 'PHM',
 'XRX',
 'FLR',
 'JEF',
 'FLS',
 'GPS',
 'FL',
 'ROL',
 'MAC',
 'PBCT',
 'HRB',
 'AIZ',
 'SCG',
 'SEE',
 'GT',
 'LEG',
 'IPGP',
 'TRIP',
 'NWSA',
 'DISCA',
 'COTY',
 'BHF',
 'MAT',
 'PWR',
 'CASH_USD',
 'SRCL',
 'NFX',
 'UAA',
 'UA',
 'NWS']

In [16]:
filter_df = stock_df[stock_df['stock'].isin(spy_list)]

In [17]:
filter_df

                date  adj_close stock
0         10/23/2014  65.920000  ADBE
1         10/24/2014  67.010000  ADBE
2         10/27/2014  67.030000  ADBE
3         10/28/2014  68.370000  ADBE
4         10/29/2014  67.930000  ADBE
5         10/30/2014  68.570000  ADBE
6         10/31/2014  70.120000  ADBE
7          11/3/2014  69.910000  ADBE
8          11/4/2014  71.070000  ADBE
9          11/5/2014  71.370000  ADBE
10         11/6/2014  72.100000  ADBE
11         11/7/2014  71.600000  ADBE
12        11/10/2014  71.700000  ADBE
13        11/11/2014  71.700000  ADBE
14        11/12/2014  71.410000  ADBE
15        11/13/2014  71.720000  ADBE
16        11/14/2014  71.420000  ADBE
17        11/17/2014  69.970000  ADBE
18        11/18/2014  70.830000  ADBE
19        11/19/2014  70.820000  ADBE
20        11/20/2014  70.440000  ADBE
21        11/21/2014  71.320000  ADBE
22        11/24/2014  71.225000  ADBE
23        11/25/2014  72.000000  ADBE
24        11/26/2014  72.980000  ADBE
25        11/28/2014  73.680000  ADBE
26         12/1/2014  73.750000  ADBE
27         12/2/2014  73.470000  ADBE
28         12/3/2014  73.180000  ADBE
29         12/4/2014  73.030000  ADBE
...              ...        ...   ...
31813773   9/17/2018  27.820959   XRX
31813774   9/18/2018  27.761513   XRX
31813775   9/19/2018  28.019114   XRX
31813776   9/20/2018  28.227177   XRX
31813777   9/21/2018  27.741697   XRX
31813778   9/24/2018  27.018432   XRX
31813779   9/25/2018  26.889631   XRX
31813780   9/26/2018  26.850000   XRX
31813781   9/27/2018  26.850000   XRX
31813782   9/28/2018  26.980000   XRX
31813783   10/1/2018  27.080000   XRX
31813784   10/2/2018  27.030000   XRX
31813785   10/3/2018  27.200000   XRX
31813786   10/4/2018  27.110000   XRX
31813787   10/5/2018  26.200000   XRX
31813788   10/8/2018  26.560000   XRX
31813789   10/9/2018  26.210000   XRX
31813790  10/10/2018  25.520000   XRX
31813791  10/11/2018  24.740000   XRX
31813792  10/12/2018  25.220000   XRX
31813793  10/15/2018  25.690000   XRX
31813794  10/16/2018  26.400000   XRX
31813795  10/17/2018  26.740000   XRX
31813796  10/18/2018  26.710000   XRX
31813797  10/19/2018  26.870000   XRX
31813798  10/22/2018  26.400000   XRX
31813799  10/23/2018  26.650000   XRX
31813800  10/24/2018  27.370000   XRX
31813801  10/25/2018  27.740000   XRX
31813802  10/26/2018  27.390000   XRX

[3432312 rows x 3 columns]

In [18]:
filter_df['date']=pd.to_datetime(filter_df.date)

C:\Users\Jeff\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
filter_df.dtypes

date         datetime64[ns]
adj_close           float64
stock                object
dtype: object

In [20]:
from sqlalchemy import create_engine
engine = create_engine('mysql://hjjms:uscdata123@stockml.cdav1uud78om.us-east-2.rds.amazonaws.com/stockAnalysis')
filter_df.to_sql('sp5data', con=engine)

C:\Users\Jeff\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute(statement, parameters)